* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}

/* line-height działa tylko wtedy jak znamy wysokość elementu i jeżeli tekst mamy w jednej linijce;
w nav (czyli na rodzicu) nadajemy fz:0px, a w nav li a fz:16px, żeby wyeliminować błąd HTML, przez który pomiędzy elementami li są odstępy; */
.nav {
	height: 50px;
	background-color: #333;
	text-align: center;
	line-height: 50px;
	font-size: 0;
}

/* targetujemy tylko tagi li które sa w navie */
.nav-item {
	display: inline-block;
}

/* targetujemy tylko tagi a, które są w navie;
padding nadany na tagu a (a nie na samym li) zwiększa obszar klikalny - zwiększyliśmy margines błędu */
.nav-item a {
	padding: 0 50px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 2px;
	transition: color 0.3s;
}

.nav-item a:hover {
	color: #0086f3;
}

/* header */
.header-img {
	position: relative;
	height: 300px;
	/* background-image: url('../../../img/planet-1702788_1920.jpg'); */
	background-image: url('./../img/planet-1702788_1920.jpg');
	background-size: cover;
	background-position: 0 50%;
}

.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	z-index: 5;
}

.header-text h1 {
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.header-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 3, 27, 0.4);
}

/* main */
main {
	margin: 50px auto;
	width: 1200px;
}

main h2 {
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
}

.about-us-box {
	position: relative;
	margin: 40px 0;
	height: 300px;
	background-attachment: fixed;
	background-position: center;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	overflow: hidden;
}

.about-us-box h3 {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.top {
	background-image: url('./../img/coffee-4334647_1920.jpg');
}

.middle {
	background-image: url('./../img/smartphone-6217996_1920.jpg');
}

.bottom {
	background-image: url('./../img/office-620822_1920.jpg');
}

.about-us-text {
	position: absolute;
	bottom: 20px;
	padding: 20px 40px;
	text-align: center;
	color: #fff;
}

.about-us-bg {
	position: absolute;
	bottom: 0;
	height: 45%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

/* usługi */

.services-list {
	margin: 0 auto;
	width: 200px;
}

/* Cennik */
.prices-table {
	margin: 0px auto;
	/* border: 2px solid black;
	border-collapse: collapse;
	background-color: rgb(238, 231, 231); */
}
/* .prices-table th {
	border: 2px solid black;
	text-align: center;
	line-height: 30px;
	padding: 0 10px; */
/* } */
.prices-table td {
	/* border: 2px solid black;
	text-align: center;
	line-height: 30px; */
	padding: 10px 30px;
}

/* kontakt */
.contact-info {
	text-align: center;
	font-size: 36px;
}

.contact-info .fa-solid {
	margin-right: 10px;
}
/* footer */
footer {
	height: 80px;
	line-height: 80px;
	background-color: #333;
	color: #ddd;
	text-align: center;
	font-size: 20px;
}
.icon-box {
	margin-left: 20px;
}
.icon-box a {
	margin: 0 5px;
	color: #ddd;
	font-size: 30px;
	transition: color 0.3s;
}

.icon-box a:hover {
	color: #0086f3;
}
